@model IEnumerable<MvcBlog.Models.GalleryCar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-4">
            <h2 class="title">@item.Title</h2>
            <div class="body" >
                <a href="@Url.Action("Details", new { id=item.Id })">
                    <img class="img-responsive img-rounded" src=@Html.Raw(item.URL)>
                </a>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    
    }
</div>
   
